.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  left: 0;
  top: 0;
  right: 0;

  min-height: var(--header-height);

  padding: 0 32px;

  background: var(--gray-1, #333);

  z-index: var(--layout-layer);
}

.headerTitle {
  margin: 0;

  font-size: 32px;
  font-weight: 700;

  color: #ffffff;

  text-decoration: none;
}

.goodsCounter {
  display: flex;
  width: 28px;
  height: 28px;

  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: var(--orange, #f50);

  color: var(--white, #fff);
  font-size: 14px;
  font-family: "Roboto";
}
