.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  height: var(--header-height);

  padding: 0 32px;

  background: var(--gray-1, #333);
}

.headerTitle {
  margin: 0;

  font-size: 32px;
  font-weight: 700;

  color: #ffffff;

  text-decoration: none;
}
