.container {
  display: flex;
  gap: 24px;
}

.button {
  width: 16px;
  height: 16px;

  display: inline-flex;
  padding: 2px;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
}

.button.active {
  background: var(--orange, #f50);
  cursor: pointer;
}

.button.disabled {
  background: var(--orange-disabled, #ffa375);
}

.button.active:hover {
  background: var(--orange-hover);
}

.button.active:active {
  opacity: 0.8;
}

.ticketCount {
  color: var(--text-primary, #1b1f23);
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;

  margin: 0 8px;
}

.delete {
  cursor: pointer;
}
