.content {
  display: flex;
  flex: 1;

  gap: 24px;
}

.filters {
  width: 408px;
  max-height: calc(100vh - var(--header-height) - 2 * 24px);
  position: sticky;
  top: calc(var(--header-height) + 24px);
}
